{% extends 'base.html' %}
{% block content %} 
<div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-9 col-lg-7 col-xl-6">
        <div class="card bg-dark text-white" style="border-radius: 15px; border: 2px solid #66fcf1;">
          <div class="card-body p-5">
            <h2 class="text-uppercase text-center mb-5">Create an account</h2>

            <form method="post" id="form_registration">
            {% csrf_token %}
            <div class="col-auto mb-3">
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text" style="border-radius: 5px 0px 0px 5px">@</div>
                    </div>
                    <input type="text" class="form-control inp_u" id="inlineFormInputGroup" name = "login" placeholder="login">
                </div>
            </div>

            <div class="col-auto mb-3">
                <div class="input-group mb-2">
                    <input type="text" class="form-control inp_u" id="inlineFormInputGroup" name="username" placeholder="Your name">
                </div>
            </div>

            <div class="col-auto mb-3">
                <div class="input-group mb-2">
                    <input type="text" class="form-control inp_u" id="inlineFormInputGroup" name = "email" placeholder="Your Email">
                </div>
            </div>

            <div class="col-auto mb-3">
                <div class="input-group mb-2">
                    <input type="password" class="form-control inp_u" id="inlineFormInputGroup" name="password1" placeholder="Password">
                </div>
            </div>

            <div class="col-auto mb-3">
                <div class="input-group mb-2">
                    <input type="password" class="form-control inp_u" id="inlineFormInputGroup" name="password2" placeholder="Repeat your password">
                </div>
            </div>
            {{ form.errors}}
            {{ message }}
            <div class="form-check d-flex justify-content-center mb-2 mt-5">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" name="subscribe" />
                <label class="form-check-label" for="form2Example3g">
                  I agree all statements in <a href="#!" class="text-white"><u>Terms of service</u></a>
                </label>
            </div>

            <div class="d-flex justify-content-center">
                <a type="button" class="btn_reg" style="font-size: 1.5rem;padding: 1rem 3rem;color: #f4f4f4;text-transform: uppercase;" onclick="document.getElementById('form_registration').submit();">Register</a>
            </div>

            <p class="text-center mt-5 mb-0">Have already an account? <a href="/profile"
                class="fw-bold text-white"><u>Login here</u></a></p>

            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}